body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #044b97;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 50%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav ul li {
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #007bff;
    color: white;
    padding-left: 10px;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px 0;
}